{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 1 version"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
